@import '_reset.less';

@image-width: 300px;
@small-width: 120px;
@base-margin: 1.0rem;

.large, .small {
  position: relative;
  overflow: hidden;
  text-align: center;
  .large {
  }
  ul {
    width: 100%;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    overflow-x: visible;
    li {
      display: inline;
    }
    li img {
      width: @image-width;
      height: auto;
      -webkit-user-drag: none;
      margin: 0 @base-margin;
      box-shadow: 5px 3px 8px #ccc;
    }
  }
}

.small {
  ul {
    li img {
      width: @small-width;
    }
  }
}

.internal {
  margin: 0 1em;
  .main {
    width: @image-width;
    height: auto;
    float: left;
  }
  .meta {
    float: left;
    margin-left: 1em;
    max-width: 65%;
  }
  .covers {
    ul {
      margin: 0 auto;
      text-align: center;
      li {
        display: inline-block;
        vertical-align: top;
        margin-right: 2px;
      }
    }
    img {
      width: @small-width;
      height: auto;
    }
  }
}
