@import '_reset.less';
@import '_typography.less';
@import '_transitions.less';

@shadow: 5px 3px 8px #ccc;

@import 'gallery.less';

body, html {
  overflow-x: hidden;
}
nav.main {
  width: 100%;
  background: @accent_color;
  color: #fff;
  height: 45px;
  overflow: hidden;
  padding: 8px 10px;
  margin-bottom: 15px;
  .brand {
    float: left;
    margin-right: 40px;
  }
  ul {
    float: left;
    li {
      display: inline;
    }
    li a {
      color: #fff;
      &:hover, &:active {
        background-color: #fff;
        color: @accent_color;
      }
      font-size: 1.2em;
      line-height: 45px;
      padding: 20px 10px;
      margin-right: 30px;
    }
  }
}

.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .modal-bg {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  .modal-inner {
    position: relative;
    background-color: #fff;
    width: 50%;
    margin: 10% auto;
    padding: 2em;
    -webkit-overflow-scrolling: touch;
    a.exit {
      top: -16px;
      left: -16px;
    }
    p a {
      text-decoration: underline;
    }
  }
}


a.exit {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  &:after {
    content: "\00D7";
  }
  position: absolute;
  top: 65px;
  left: 3px;
  z-index: 1;
  background-color: @accent_color;
  padding: 3px 9px;
  border-radius: 15px;
}

.internal {
  margin: 0 1em;
  .cover {
    position: relative;
    width: 38%;
    float: left;
    img{
      width: 100%;
      height: auto;
      box-shadow: @shadow;
    }
  }
  .meta {
    float: right;
    text-align: right;
    margin: 0 1em;
    max-width: 53%;
  }
  .covers {
    ul {
      margin: 0 auto;
      li {
        display: inline-block;
        vertical-align: top;
        margin-left: 8px;
        margin-top: 6px;
        &.selected {
          img {
            box-shadow: 0 0 5px 4px @accent_color;
          }
        }
        img {
          box-shadow: @shadow;
          width: @small-width;
          height: auto;
        }
      }
    }
  }
}
