@import '_reset.less';
@import '_typography.less';
@import '_transitions.less';

@import 'nav.less';
@import 'gallery.less';

@shadow: 5px 3px 8px #ccc;

body, html {
  overflow-x: hidden;
}

.internal {
  margin: 0 1em;
  .cover {
    position: relative;
    width: 38%;
    float: left;
    img{
      width: 100%;
      height: auto;
      box-shadow: @shadow;
    }
  }
  .meta {
    float: right;
    text-align: right;
    margin: 0 1em;
    max-width: 53%;
  }
  .covers {
    ul {
      margin: 0 auto;
      li {
        display: inline-block;
        vertical-align: top;
        margin-left: 8px;
        margin-top: 6px;
        &.selected {
          img {
            box-shadow: 0 0 5px 4px @accent_color;
          }
        }
        img {
          box-shadow: @shadow;
          width: @small-width;
          height: auto;
        }
      }
    }
  }
}
