.book-meta {
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .exit {}
    .title {}
    .author {
        margin-bottom: 0;
    }
}

.book-main {
    display: flex;
    align-items: top;
}

.cover-picker .covers {
    display: inline-flex;
    flex-flow: row wrap;
    img {
        max-width: 4rem;
    }
}
