/*

primary color: #459174;
dark primary color: #0c2f48;
white: #FEFEFE;
black: #202020;

*/

body {
    margin: 0;
    font-family: "Merriweather", serif;
    color: #202020;
    background-color: #FEFEFE;
}

section {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 3rem;
}

h1, h2 {
    margin: 0 0 1.5rem 0;
    font-family: "Montserrat", serif;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 4em;
}

/* About */

#about {
    color: #0c2f48;
    background-color: #459174;
}

#about .textarea {
    max-width: 40em;
    margin: 0 auto;
    text-align: center;
}

#about h1 {
    color: #FEFEFE;
}

#about .logo-x {
    color: #0c2f48;
}

/* NYPL */

#nypl {
    color: #FEFEFE;
    background-color: #0c2f48;
}

/* Social */

#social {
    color: #0c2f48;
    background-color: #70aefc;
}

/* GitHub */

#github {
    color: #FEFEFE;
    background-color: #202020;
}
