/*

primary color: #459174;
dark primary color: #0c2f48;
white: #FEFEFE;
black: #202020;

*/

body {
    margin: 0;
    font-family: "Merriweather", serif;
    color: #202020;
    background-color: #FEFEFE;
}

section {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 3rem;
}

h1, h2 {
    margin: 0 0 1.5rem 0;
    font-family: "Montserrat", serif;
    word-wrap: break-word;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}
@media (max-width: 600px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.5em;
  }
}

/* Photos */

#header-photo {
  background: url('books.jpg') bottom left no-repeat;
  padding: 8em 0;
}

#inter-photo {
  background: url('party.jpg') top left no-repeat;
  padding: 14em 0;
}

ul.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.gallery li {
  display: inline-block;
  max-width: 400px;
  margin: .5em;
}

ul.gallery li img {
  max-width: 100%;
  height: auto;
}

#partners ul.gallery li {
  max-width: 150px;
  margin: 0 1em;
}

/* About */

#about {
    color: #0c2f48;
    background-color: #459174;
}

#about .textarea {
    max-width: 40em;
    margin: 0 auto;
    text-align: center;
}

#about h1 {
    color: #FEFEFE;
}

#about .logo-x {
    color: #0c2f48;
}

/* NYPL */

#parties {
    color: #FEFEFE;
    background-color: #0c2f48;
}

#parties a {
  color: #70aefc;
}

#social {
    color: #0c2f48;
    background-color: #70aefc;
}

/* Responsive from */

input[type=text], input[type=email]{
  margin-bottom: 20px;
  margin-top: 10px;
  width:70%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #7ac9b7;
}
input[type=submit]
{
  margin-bottom: 20px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #7ac9b7;
  background-color: #4180C5;
  color: aliceblue;
  font-size:15px;
  cursor:pointer;
}
textarea{
  width:70%;
  padding: 15px;
  margin-top: 10px;
  border:1px solid #7ac9b7;
  border-radius:5px;
  margin-bottom: 20px;
  resize:none;
}
input[type=text]:focus,textarea:focus {
  border-color: #4697e4;
}

#success {
  display: none;
}
